<!DOCTYPE html>
<html>
  <head>
    <title>flask-api</title>
    <meta name="viewport" content="width=device-width,initial-sclae=1.0">
    <link rel="stylesheet" type="text/cscs" href="{{ 
    url_for('static',filename='normalize.css')
    }}">
    <link rel="stylesheet" type="text/css" href="{{ 
    url_for('static',filename='main.css') 
    }}">
  </head>
  <body>
    <div class="asides-wrapper">
      <aside id="aside-1">
        <h1>hey guess what</h1>
      </aside>
      <aside id="aside-2">
       <h2>i'm part of a package now</h2>
      </aside>
    </div>
  </body>
</html>
